
/*
//===============================================
//                                               
//  ######  ##   ##  #####  ###    ###  #####  
//    ##    ##   ##  ##     ## #  # ##  ##     
//    ##    #######  #####  ##  ##  ##  #####  
//    ##    ##   ##  ##     ##      ##  ##     
//    ##    ##   ##  #####  ##      ##  #####  
//                                               
//===============================================
*/


/* Material Design Components */
@import "../lib/material-components-web.min.css";

/* Fonts + Icons */
@import "../lib/roboto.css";
@import "../lib/material-icons.css";


:root {
    
  /* UNIVERSAL 
  ****************************************************************************/
  
  /* Colors */
  --bot-darkgray: #14181b;
  --bot-gray: #36404a;
  --bot-blue: #33daff;
  --bot-green: #00e676;
  --bot-yellow: #efff48;
  --bot-orange: #ffb129;
  --bot-red: #ff23c0;
  
  
  /* Colors */
  --darkgray: #14181b;
  --gray: #36404a;
  --blue: #33daff;
  --green: #00e676;
  --yellow: #efff48;
  --orange: #ffb129;
  --red: #ff23c0;


  /* Gradients */
  --gradient-blue--lite: #2df6ff;
  --gradient-blue--dark: #289dff;

  --gradient-green--lite: #eeff41;
  --gradient-green--dark: #00e676;

  --gradient-yellow--lite: #eeff41;
  --gradient-yellow--dark: #fecf6f;

  --gradient-red--lite: #fecf6f;
  --gradient-red--dark: #ff27c3;


  /* MDC Theme */
  --mdc-theme-primary: #33daff;
}


.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label { color: var(--bot-blue); }

/*
//==========================================
//                                          
//  #####    #####   ####  #####  ######  
//  ##  ##   ##     ##     ##       ##    
//  #####    #####   ###   #####    ##    
//  ##  ##   ##        ##  ##       ##    
//  ##   ##  #####  ####   #####    ##    
//                                          
//==========================================
*/

html {
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *:before, *:after { box-sizing: inherit; margin: 0; padding: 0; outline: 0; }


/* Highlighting & Selection */
*::-moz-selection { color: white; background: var(--mdc-theme-primary); }
*::selection { color: white; background: var(--mdc-theme-primary); }

a { text-decoration: none; color: white; cursor: pointer; }


/*
//========================================================
//                                                        
//  #####   ######         ####    #####    ##  ####    
//  ##  ##    ##          ##       ##  ##   ##  ##  ##  
//  #####     ##          ##  ###  #####    ##  ##  ##  
//  ##        ##          ##   ##  ##  ##   ##  ##  ##  
//  ##        ##           ####    ##   ##  ##  ####    
//                                                        
//========================================================
*/

/* Layout 
*******************************************/
body { 
  height: 100vh;
  overflow: hidden;
  background: var(--darkgray);
  display: grid; 
  padding: 1rem;
}

header {
  position: fixed; top: 0; left: 0; right: 0;
  background: var(--gray);
  color: white;
  display: flex;
  align-items: center;
  z-index: 999;
  justify-content: flex-end;
  padding: 1rem;  
  height: 64px;
  transform: translateY(-64px);
  transition: .22s ease-in-out transform;
}

header:after { position: absolute; top: 100%; right: 1rem; width: 100px; height: 3px; background: var(--orange); content: ""; display: block; }

header:hover { transform: translateY(0); }

header a { padding: 0 1rem; }


/* Mini Bots 
*******************************************/
.mini-bots {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  justify-content: center; 
}

.mini-bots.blocks-2  { grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(1, 1fr); }
.mini-bots.blocks-4  { grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(2, 1fr); }
.mini-bots.blocks-9  { grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); }
.mini-bots.blocks-12 { grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(3, 1fr); }
.mini-bots.blocks-15 { grid-template-columns: repeat(5, 1fr); grid-template-rows: repeat(3, 1fr); }

.mini-bots article { 
  position: relative; 
  display: grid; 
  grid-template-columns: 1fr; grid-auto-columns: 1fr; 
  grid-template-rows: 1fr; grid-auto-rows: 1fr; 
}

.mini-bots article:before               { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: var(--gray); opacity: .1; }
.mini-bots article.hover-button         { cursor: pointer; }
.mini-bots article.hover-button:before 	{ opacity: 0; }
.mini-bots article.active:before 	      { opacity: 0; }

/* Layers
*******************************************/
.mini-bots article section { 
  position: relative; z-index: 0; opacity: 0; pointer-events: none;
  width: 100%; height: 100%; 
  grid-column: span 1/-1; grid-row: span 1/-1; 
  display: grid; align-items: center; justify-content: center; align-content: center; 
  will-change: opacity; transition: opacity .22s ease-in-out;
}

.mini-bots article.active-button section.layer-button,
.mini-bots article.active-input section.layer-input,
.mini-bots article.active-iframe section.layer-iframe { opacity: 1; z-index: 1; pointer-events: all; }


.mini-bots article section.layer-button           {  }
.mini-bots article section.layer-input            { transition: none; justify-content: stretch; padding: 0 10%; }
.mini-bots article section.layer-iframe           {  }



/* LAYER 1: Button
*******************************************/
.mini-bots article section.layer-button         {  }
.mini-bots article section.layer-button button               { background: var(--gray); cursor: pointer; color: rgba(0,0,0,1); opacity: .2; border: 0; font-size: 1.5vw; border-radius: 100px; text-transform: uppercase; padding: .75rem 2rem; }
.mini-bots article section.layer-button button:hover,
.mini-bots article section.layer-button button:focus         { background: var(--blue); color: white; opacity: 1; }

.mini-bots article.hover-button section.layer-button button { background: var(--blue); color: white; opacity: 1; }


/* LAYER 2: Input
*******************************************/
.mini-bots article section.layer-input  {  }
.mini-bots article section.layer-input input { background: transparent; color: var(--blue); border: 0; font-size: 1.25vw; }


/* LAYER 3: iFrame
*******************************************/
.mini-bots article section.layer-iframe  {  }

/* iframe */
.mini-bots article section.layer-iframe iframe { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; }

/* nav */
.mini-bots article section.layer-iframe nav { position: absolute; top: 0; right: 0; opacity: 1; transition: .22s ease-in-out; cursor: pointer; display: grid; grid-template-columns: repeat(2, auto); grid-gap: .42vw; padding: .1vw .42vw; }
.mini-bots article section.layer-iframe nav a { font-size: 1.1vw; opacity: .24; transition: .22s ease-in-out; }
.mini-bots article section.layer-iframe nav a:hover { opacity: 1; }



/* Temporary
*******************************************/
.bg-yellow  { background: var(--bot-yellow); }
.bg-green   { background: var(--bot-green); }
.bg-blue    { background: var(--bot-blue); }















/*==============================================                                           
####    #####  ##   ##  ##   ####  #####  
##  ##  ##     ##   ##  ##  ##     ##     
##  ##  #####  ##   ##  ##  ##     #####  
##  ##  ##      ## ##   ##  ##     ##     
####    #####    ###    ##   ####  #####  
                                            
==============================================*/

/* Mobile */
@media (min-width: 0) and (max-width: 768px) {


}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) { 

  
}

/* Desktop */
@media (min-width: 1025px) { 


}